.bottom-nav {
  position: fixed;
  bottom: 20px;
  left: 39%;
  transform: translateX(-50%);
  display: flex;
  gap: 50px;
  color: white;
  font-family: 'Nasalization', sans-serif;
  opacity: 1;
  transition: opacity 0.5s ease, transform 0.5s ease;
  pointer-events: none; /* Prevent interaction when hidden */
  font-size: 15px;
}

.bottom-nav.hidden {
  opacity: 0;
  transform: translateY(20px); /* Slide down effect */
  pointer-events: none; /* Prevent interaction when hidden */
}

.bottom-nav.visible {
  opacity: 1;
  transform: translateY(0); /* Slide up effect */
  pointer-events: auto; /* Allow interaction when visible */
}