.featured-section {
  padding: 3rem 2rem;
  background: linear-gradient(to top, #362d5a, #18113a);
  font-family: 'Nasalization', sans-serif;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.section-header h2 {
  font-size: 2rem;
  color: #ffffff;
  font-weight: 600;
}

.view-all {
  background: transparent;
  color: #ffffff;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.featured-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 6rem;
}

.featured-card {
    background: linear-gradient(#0000008f, #0000002e);
    border: none;
    border-radius: 10px;
    padding: 30px;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 8px #d3d0fb7d;
    color: rgb(0, 0, 0);
    text-align: center;
    transition: transform 0.3s ease, background 0.3s ease, box-shadow 0.3s ease;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.featured-card:hover {
  background: #ebddff24;
  box-shadow: 0 0 15px rgba(192, 185, 255, 0.427);
  transform: scale(1.03) translateZ(0); /* Keep hardware acceleration */
}

.card-visual {
  height: 200px;
  background: #ded3ff;
}

.card-content {
  padding: 1.5rem;
}

.card-content h3 {
  color: #ffffff;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.card-stats {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.2rem;
  color: #ffffff;
  font-size: 0.9rem;
}

.active-now {
  color: #c6eff8;
}

.join-button {
  width: 100%;
  background-color: #bbaaffcc;
  color: #000000;
  border: none;
  border-radius: 6px;
  padding: 0.6rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.join-button:hover {
  background-color: #d0c4fccc;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.615);
}